<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ink.kei.audiofocusswitcher">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="AudioFocus Switcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Audiofocusswitcher">

    <activity
        android:name=".ui.MainActivity"
        android:exported="true"
        android:theme="@style/Theme.Material3.Light.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="de.robv.android.xposed.category.MODULE_SETTINGS" />
        </intent-filter>
    </activity>

    <activity-alias
        android:name=".MainActivityLauncher"
        android:exported="true"
        android:label="@string/app_name"
        android:targetActivity=".ui.MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity-alias>

    <!-- Xposed 模块声明 -->
    <meta-data
        android:name="xposedmodule"
        android:value="true" />

    <meta-data
        android:name="xposeddescription"
        android:value="Control audio focus to allow multiple apps play sound simultaneously" />

    <meta-data
        android:name="xposedminversion"
        android:value="93" />

    <meta-data
        android:name="xposedscope"
        android:value="android" />

    <meta-data
        android:name="xposedsharedprefs"
        android:value="true" />


    </application>

    </manifest>